.contactUs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

.contactUs li {
    display: flex;
    align-items: center;
    margin-bottom: 0.9rem;

}

.contactUs img {
    width: 25px;
    margin-right: 0.3rem;

}

.contactUs ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;


}

.top {
    padding: 0.8rem;
    width: 100%;
    border: 2px solid rgb(0, 106, 105);
    display: flex;
    flex-direction: column;
    align-items: start;
}

.right {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
}

.contactUs p {
    margin: 0;
}

.bottom {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 106, 105);
    margin-top: 8rem;
    padding: 0.8rem;
}

.bottom div {
    display: flex;
}